body {
  font-family: Arial, sans-serif;
  background-color: rgba(244, 244, 244);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  color: #FED402;
  background-color: #0D3068;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 64, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 50%; /* Define a largura do botão */
  padding: 10px 20px;
  margin-top: 20px; /* Adiciona um espaço acima do botão */
  background-color: #FED402;
  color: #0D3068;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#irLogin {
  cursor: pointer;
}

#irindex {
  color: red;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0D3068;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 64, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container img {
  max-width: 100%; /* Garante que a imagem não ultrapasse a largura da div */
}
